[submodule "Speedometer"]
	path = Speedometer
	url = https://github.com/lpardosixtosMs/Speedometer.git
[submodule "SpeedometerWithComplex"]
	path = SpeedometerWithComplex
	url = https://github.com/lpardosixtosMs/Speedometer.git
	branch = issackjohn/EnableTestSuitesForComplexDOMVersions
[submodule "SpeedometerNewStructure"]
	path = SpeedometerNewStructure
	url = https://github.com/lpardosixtosMs/Speedometer.git
	branch = issackjohn/AddressPrCommentsPart2
[submodule "SpeedometerJSWebComponents"]
	path = SpeedometerJSWebComponents
	url = https://github.com/lpardosixtosMs/Speedometer.git
	branch = lpardosixtos/ComplexDOMWebComponents

