[submodule "SpeedometerWithComplex"]
	path = SpeedometerWithComplex
	url = https://github.com/lpardosixtosMs/Speedometer.git
	branch = issackjohn/EnableTestSuitesForComplexDOMVersions
[submodule "SpeedometerJSWebComponents"]
	path = SpeedometerJSWebComponents
	url = https://github.com/lpardosixtosMs/Speedometer.git
	branch = lpardosixtos/ComplexDOMWebComponents
[submodule "Speedometer1"]
	path = Speedometer1
	url = https://github.com/issackjohn/Speedometer
[submodule "Speedometer2"]
	path = Speedometer2
	url = https://github.com/issackjohn/Speedometer
[submodule "Speedometer3"]
	path = Speedometer3
	url = https://github.com/issackjohn/Speedometer
[submodule "Speedometer4"]
	path = Speedometer4
	url = https://github.com/issackjohn/Speedometer
[submodule "Speedometer5"]
	path = Speedometer5
	url = https://github.com/issackjohn/Speedometer
[submodule "Speedometer6"]
	path = Speedometer6
	url = https://github.com/issackjohn/Speedometer
[submodule "Speedometer"]
	path = Speedometer
	url = https://github.com/issackjohn/Speedometer.git
[submodule "SpeedometerWithReminderOpen"]
	path = SpeedometerWithReminderOpen
	url = https://github.com/issackjohn/Speedometer.git
